<div id="gambit-container">
  <app-information-container [title]=data.aboutGTETitle [content]=data.aboutGTEInformation></app-information-container>
</div>

  <div id="publications-container">
    <app-information-container [title]=data.aboutContributorsTitle [content]=data.aboutContributorsInformation></app-information-container>
  </div>
  <div id="contributors-container">
    <app-information-container [title]=data.aboutPublicationsTitle [content]=data.aboutPublicationsInformation></app-information-container>
  </div>




